services:
  db:
    image: postgres:14
    container_name: blog-postgres
    environment:
      POSTGRES_DB: blog
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - blog_pg_data:/var/lib/postgresql/data

volumes:
  blog_pg_data:
